# Application
NODE_ENV=development
APPLICATION_PORT=4000
APPLICATION_URL=http://localhost:4000
ALLOWED_ORIGIN=http://localhost:3000

# Database
DATABASE_URL="postgresql://vion:vion@localhost:5432/vion_tracker_db?schema=public"
DB_USER=vion
DB_PASSWORD=vion
DB_NAME=vion_tracker_db

# Redis
REDIS_URI=redis://localhost:6379

# Session
SESSION_SECRET=your-secret-key-change-in-production
SESSION_NAME=vion.sid
SESSION_DOMAIN=localhost
SESSION_MAX_AGE=7d
SESSION_HTTP_ONLY=true
SESSION_SECURE=false
SESSION_FOLDER=vion:session:
